.about-us {
    padding: 20px; /* Diminuir o padding */
    background-color: #f9f9f9;
    margin: 20px 0;
    margin-top: 60px;
  }
  
  .about-us h2 {
    font-size: 32px; /* Aumentar o tamanho da fonte */  
    margin-bottom: 20px;
  }
  
  .about-us h3 {
    font-size: 32px; /* Aumentar o tamanho da fonte */
    margin-top: 20px;
  }
  
  .about-us h4 {
    font-size: 20px; /* Aumentar o tamanho da fonte */
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .about-us ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about-us ul li {
    font-size: 20px; /* Aumentar o tamanho da fonte */
    margin-bottom: 10px;
  }
  .Tema-escuro .about-us {
    background-color: #1a474f;
    color: #fff;
  }
  .Tema-escuro .about-us h2{
    background-color: #1a474f;
    color: #a7a4a4;
  }
  .Tema-escuro .about-us h3{
    background-color: #1a474f;
    color: #a7a4a4;
  }
  .Tema-escuro .about-us li{
    background-color: #1a474f;
    color: #7dbbe2;
  }
  .Tema-escuro .about-us p{
    background-color: #1a474f;
    color: #7dbbe2;
  }
  .Tema-escuro .about-us h4{
    font-size: 20px; /* Aumentar o tamanho da fonte */
    line-height: 1.6;
    margin-bottom: 20px;
    color: #a7a4a4;
  }