/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
}

.logo {
  display: flex;  /* Adiciona flexbox para alinhar a imagem e o texto */
  align-items: center;  /* Centraliza verticalmente */
  font-weight: bold;

  & p {
    font-size: 26px;
  }
}

.logo-image {
  width: 4rem;  /* Define a largura da imagem */
  height: auto;  /* Mantém a proporção da imagem */
  margin-right: 10px;  /* Espaçamento entre a imagem e o texto */
  cursor: pointer;
}

.logo-image:hover {
  opacity: 0.8; /* Reduz a opacidade para 80% ao passar o mouse */
}

.div-search-bar{
  width: 40%;
  

}
.search-bar {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
  
  
}

.search-bar input {
  flex-grow: 1;
  padding: 20px;
  
}

.search-bar button {
  padding: 10px;
  background-color: white;
  color: #41bcf1;
  border: none;
  cursor: pointer;
}


.cart-icon {
  position: relative;
  cursor: pointer;
  color: #ebf0f3;
}

.cart-icon:hover {
  opacity: 0.8;
}
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(46, 114, 238);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  
}

.Tema-escuro .cart-count {
  background-color: #000000;
  color:#ebf0f3 ; 

}
.Tema-escuro .header {
  background-color: #1a474f;
  color: #fff;
 
}
.Tema-escuro .search-bar button {
  background-color: #d33157;
  color: #fff;
}

.botão-de-login  {
  display: flex;
  width: 2rem;
  height: 2rem;
  background-color: transparent;

}


.tooltip-container {
  position: relative;
  display: inline-block;
  
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgb(46, 114, 238);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 40px; /* Ajuste para mover o tooltip para cima */
  left: 50%; /* Centraliza o tooltip */
  transform: translateX(-50%);
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.3s;
  cursor:pointer;
}
.tooltip-text2 {
 
  visibility: hidden;
  width: 90px;
  background-color: rgb(46, 114, 238);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 60px; /* Ajuste para mover o tooltip para cima */
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip-container:hover .tooltip-text2 {
  visibility: visible;
  opacity: 1;
}

.cabecalho-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;

  & img {
      width: 3rem;
      height: 3rem;
      border: aqua solid;
      border-radius: 10rem;              
  }
  
  & h1 {
      display: flex;       
      color: rgb(25, 11, 11);

  }

}

.div-foto-nome {
  display: flex;
  cursor:pointer;

  & h2 {
      padding-left: 1rem;
  }
}

.div-foto-nome:hover {
  opacity: 0.8; /* Reduz a opacidade para 80% ao passar o mouse */
}

.div-principal-image-login{
  display: flex;

  & h2{
    padding-left: 1rem;
  }
}

