.product-list-container {
  position: relative;
  overflow: hidden; /* Esconde a barra de rolagem padrão */
  margin-top: 80px;
}

.product-list {
  display: flex;
  overflow-x: auto; /* Adiciona rolagem horizontal */
  padding: 20px; /* Espaço interno para a lista de produtos */
  gap: 16px; /* Espaço entre os produtos */
  scroll-behavior: smooth; /* Suaviza a rolagem */
}


/* Estilo para os botões de rolagem */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease; /* Adiciona transição suave */
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.scroll-button:hover {
  background-color: #45a049;
  transform: scale(1.4); /* Aumenta o tamanho do botão ao passar o mouse */
}
/* Estilo das setas de navegação */
.nav-arrow {
  font-size: 1.5em; /* Tamanho inicial das setas */
  cursor: pointer; /* Cursor de ponteiro */
  transition: transform 0.3s ease; /* Transição suave para transformações */
}

/* Aumenta o tamanho das setas ao passar o mouse */
.nav-arrow:hover {
  transform: scale(1.2); /* Escala as setas em 20% */
}

.Tema-escuro .header {
  background-color: #1a474f;
  color: #fff;
}
